/*----------1220px----------*/

@media (max-width: 1220px) {
  .header__phone a{
    display: inline-block;
    font-size: 36px;
    line-height: 40px;
    margin: auto 0;
  }

 .header__phone{
   display: block;
   width: 600px;
   margin: auto 100px;
   text-align: center;
 }
 .header__logo{
   padding: 0 0 0 40px;
 }
}


/*----------1150px----------*/

@media (max-width: 960px) {
  .slider__title h2{
    font-size: 30px;
    line-height: 36px;
  }
}
/*----------980px----------*/

@media (max-width: 980px) {
.header__phone a{
  display: inline-block;
  font-size: 34px;
  line-height: 36px;
  margin: auto 0;
}
.header__phone{
  width: 600px;
  margin: auto 50px;
}
.slider__title h2{
  font-size: 30px;
  line-height: 36px;
  margin-top: 10px;
}

}
/*----------960px----------*/

@media (max-width: 960px) {
  .menu-main a:hover:after,
  .menu-main a:hover:before,
  .menu-main a:after,
  .menu-main a:before {
    display: none;
  }
  
  .slider {
    min-height: 250px;
  }
  
  .swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .swiper-slide {
    width: 500px;
    height: 300px;
  }
  .imgBx img {
    width: 500px;
    height: 300px;
  }
}
/*----------880px----------*/

@media (max-width: 880px) {
  .slider {
    padding: 10px 40px;
  }
  .menu-main a {
    padding-bottom: 10px;
    margin: 5x 10px 0 10px;
  }
  .header__logo img,
  .footer__logo img {
    width: 200px;
  }
  .delivery{
    height: 400px;
  }
}

/*----------740px----------*/
@media (max-width: 740px) {
  .header__inner{
    flex-direction: column;
  }
  .header{
    height: 230px;
  }
  .header__logo{
    padding: 0;
    margin-top: 30px;
  }
  .header__phone {
    width: 300px;
    margin: 30px 50px 0 50px;
  }
  
  .menu-main a {
    padding-bottom: 10px;
    margin: 10px 5px 10px 5px;
} 
  .swiper-container{
    padding-top: 0;
  }
  .swiper-slide {
    width: 300px;
    height: 200px;
  }
  .imgBx img {
    width: 300px;
    height: 200px;
  }
  .container__title{
    margin-top: 0;
    font-size: 30px;
    line-height: 46px;

  }
  .container__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cont__image img {
    width: 250px;
    border: 5px solid #1855a5;
    border-radius: 20px;
  }
  .specifications h2 {
    text-align: center;
    max-width: 200px;
  }
  .specifications {
    align-self: center;
    font-size: 12px;
    width: 250px;
  }
  .delivery__title {
    font-size: 26px;
    line-height: 52px;
  }
  .footer__title {
    font-size: 26px;
    line-height: 52px;
  }
}
/*----------680px----------*/
@media (max-width: 680px) {
  .delivery{
    height: 430px;
  }
  .footer{
    height: 250px;
  }
  .callnow__box{
    margin: 10px 0 20px 0;
  }
  .callnow__text{
    width: 600px;
    font-size: 16px;
    line-height: 28px;
  }
}

/*----------600px----------*/
@media (max-width: 600px) {
}

/*----------560px----------*/

@media (max-width: 560px) {
  .header {
    height: 290px;
  }
  .header__logo {
    padding: 0px;
    margin-top: 30px;
  }
  .header__inner,
  .footer__inner {
    height: 270px;
  }
  .menu-main{
    margin-top: 10px;
  }
  .menu-main a {
    padding: 5px 10px;
    margin: 0 30px;
  }
  .menu-main li {
    display: block;
  }

  .menu-main li:after {
    content: none;
  }
  .slider__text p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 0;
}
  .delivery {
    height: 430px;
  }
  .footer{
    height: 350px;
  }
  .callnow__inner{
   flex-direction: column;
  }

}
/*----------540px----------*/
@media (max-width: 540px) {
.slider__text p{
  text-align: left;
}
}
/*----------480px----------*/

@media (max-width: 480px) {
.slider__text{
  padding: 0;
}
.slider__text p{
  padding: 0 15px;
}
.slider {
  padding: 10px 15px;
}
.header {
  height: 100%;
}
.header__inner{
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding: 0;
}
.delivery{
  height: 450px;
}

.delivery__text,
.callnow__text{
  font-size: 12px;
  line-height: 26px;
}
.footer{
  height: 350px;
}
.callnow__box{
  margin-top: 10px;
}
}

/*----------480px----------*/

@media (max-width: 480px) {
 .container{
   padding: 0;
 }
}
/*----------360px----------*/

@media (max-width: 360px) {
  .slider{
    min-height: 150px;
  }
  .swiper-slide {
    width: 250px;
    height: 150px;
  }
  .imgBx img {
    width: 250px;
    height: 150px;
  }
  .container__title,
  .footer__title,
  .delivery__title{
    font-size: 24px;
    line-height: 40px;
  }
  .delivery{
    height: 490px;
  }
  .delivery__text{
    padding: 10px;
  }
  .footer{
    height: 500px;
  }
  .footer__inner{
    font-size: 18px;
  }

  
