
/*----------940px----------*/

@media (max-width: 940px) {
  .menu-main a:hover:after,
  .menu-main a:hover:before,
  .menu-main a:after,
  .menu-main a:before {
    display: none;
  }
  .callnow__inner {
    flex-direction: column;
    align-items: center;
  }
  .slider {
    margin-top: 50px;
    min-height: 250px;
  }
  .swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .swiper-slide {
    width: 500px;
    height: 300px;
  }
  .imgBx img {
    width: 500px;
    height: 300px;
  }
}
/*----------880px----------*/

@media (max-width: 880px) {
  .slider {
    padding: 0 40px;
  }
  .menu-main a {
    padding-bottom: 10px;
    margin: 15px 10px 0 10px;
  }
  .header__logo img,
  .footer__logo img {
    width: 200px;
  }
}

/*----------740px----------*/
@media (max-width: 740px) {
  .swiper-slide {
    width: 300px;
    height: 200px;
  }
  .imgBx img {
    width: 300px;
    height: 200px;
  }
  .container__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cont__image img {
    width: 250px;
    border: 5px solid #1855a5;
    border-radius: 20px;
  }
  .specifications h2 {
    text-align: center;
    max-width: 200px;
  }
  .specifications {
    align-self: center;
    font-size: 12px;
    width: 250px;
  }
  .delivery__title {
    font-size: 26px;
    line-height: 52px;
  }
  .footer__title {
    font-size: 26px;
    line-height: 52px;
  }
}
/*----------680px----------*/
@media (max-width: 680px) {
  .menu-main a {
    padding-bottom: 10px;
    margin: 0px 100px 0 100px;
  }

}

/*----------600px----------*/
@media (max-width: 600px) {
}

/*----------560px----------*/

@media (max-width: 560px) {
  .header {
    margin-bottom: 20px;
    height: 170px;
  }
  .header__logo,
  .footer__logo {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
  }
  .header__inner,
  .footer__inner {
    height: 170px;
  }

  .menu-main a {
    padding: 5px 10px;
    margin: 0 30px;
  }
  .menu-main li {
    display: block;
  }

  .menu-main li:after {
    content: none;
  }
  .container-fluid{
    padding: 0px;
  }
  .callnow__inner{
    width: 550px;
    padding:0 30px;
  }
  .callnow__text p{
    margin: 0 auto;
    padding: 10px 50px;
    margin-bottom: 20px;
  }
}
/*----------480px----------*/

@media (max-width: 480px) {
}

/*----------360px----------*/

@media (max-width: 360px) {
}
