*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

/*----------Header + Footer ----------*/

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1720px;
  margin: 0 auto;
  overflow: hidden;
}
/*----Header----*/
.header {
  background-color: #1855a5;
  margin-bottom: 50px;
}
.header__logo,
.footer__logo {
  padding: 40px 40px;
  margin: auto 0;
}
.header__logo img,
.footer__logo img {
  width: 300px;
}
.header__inner,
.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}

/*----Menu----*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
.menu-main {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
}
.menu-main li {
  display: inline-block;
}

.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
  margin: 15px 25px 0 25px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #fff;
}
.menu-main a.current,
.menu-main a:hover {
  color: #feb386;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: 0.8s;
}
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}

/*----Callnow---*/
.callnow__title {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  text-align: center;
}

.callnow__title {
  padding: 10px 0;
}
.callnow__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.callnow__text {
  max-width: 750px;
  padding: 10px 20px;
  flex: 2 3;
  word-wrap: break-word;
}
.callnow__box {
  min-width: 280px;
}
.callnow__title-contacts h2{
  text-align: center;
}

.callnow__checkbox-contacts {
  display: flex;
  align-items: center;
}
.check-box__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check-box__text span {
  margin-left: 10px;
  margin-top: 8px;
}
.callnow__text p {
  padding: 10px 40px 10px 30px;
}
.checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: 50px;

}
.fa-envelope-o{
  font-size: 30px;
  margin-bottom: 5px;
}
.fa-mobile{
  font-size: 40px;
}
.fa-whatsapp{
  font-size: 30px;
}
/*------Slider-----*/

.slider {
  margin-top: 50px;
  min-height: 400px;
  background-color: rgba(184, 166, 133, 0.2) ;
  padding: 0 100px;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 400px;
  background-color: #303030;
  border-radius: 20px;
}
.imgBx img {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  border: 5px solid #fff;
}

/*----Items---*/

.containers{
  background-color:  rgba(184, 166, 133, 0.2) ;
}
.items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.container__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 10px;
}
.cont__image img {
  width: 350px;
  border: 5px solid #1855a5;
  border-radius: 20px;
}
.specifications h2 {
  text-align: center;
  max-width: 350px;
}
.specifications p {
  padding: 10px 15px;
}
.specifications {
  max-width: 350px;
}

/*----Delivery----*/

.delivery__title {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  text-align: center;
}
.delivery {
  background-color: #1855a5;
  height: 300px;
  color: #fff;
  position: relative;
}



/*----Footer----*/

.footer {
  background-color: rgba(184, 166, 133, 0.2) ;
  height: 300px;
}
.footer__title {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  text-align: center;
}
